/* auth_page */
.auth_page__login_user {
    padding-top: 90px;
    padding-bottom: 50px;
}

.auth_page__login_user .wrapper_m {
    overflow: hidden;
    padding: 50px 0;
}

.auth_page__login_user__left {
    width: 280px;
    float: left;
}

.auth_page__login_user__right {
    margin-left: 280px;
    padding-left: 15px;
}

.auth_page__login_user__projects_content__message {
    padding: 6px 10px;
    border-radius: 5px;
    background: #009ad4;
    margin: 10px 50px;
    line-height: 1;
    color: #ffffff;
    font-size: 14px;
}

.auth_page__login_user__photo_holder {
    width: 180px;
    height: 180px;
    border: 2px solid #006699;
    margin: 0 auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.auth_page__login_user__tarif_holder {
    text-align: center;
    margin-top: 25px;
}

.auth_page__login_user__tarif_holder__row {
    position: relative;
}

.auth_page__login_user__tarif_holder__row:not(:last-child) {
    margin-bottom: 15px;
}

.auth_page__login_user__tarif_holder .name {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-transform: uppercase;
}

.auth_page__login_user__tarif_holder .name.status_1 {
    color: #FF9900;
}

.auth_page__login_user__tarif_holder .name.status_2 {
    color: #990000;
}

.auth_page__login_user__tarif_holder .name.status_3 {
    color: #006699;
}

.auth_page__login_user__tarif_holder .name.status_999 {
    color: #669933;
}

.auth_page__login_user__tarif_holder .info_ico {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    color: #828282;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.auth_page__login_user__tarif_holder .info_ico:hover + .more_info {
    display: block;
}

.auth_page__login_user__tarif_holder .more_info {
    position: absolute;
    top: 100%;
    left: 20px;
    width: 250px;
    padding: 10px;
    font-size: 14px;
    background: #fff;
    color: #222;
    overflow: auto;
    padding: 10px;
    -webkit-box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.3);
    box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
    text-align: left;
    display: none;
}

.auth_page__login_user__tarif_holder .operations {
    font-size: 16px;
    color: #888;
}

.auth_page__login_user__tarif_holder span {
    color: #777;
    font-size: 18px;
    font-weight: bold;
}

.auth_page__login_user__tarif_holder .change_tarif {
    display: inline-block;
    padding: 8px 20px;
    color: #FF9F00;
    font-size: 20px;
    border: 2px solid #FF9F00;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-top: 20px;
}

.auth_page__login_user__tarif_holder .change_tarif:hover {
    background: #FF9F00;
    color: #fff;

}

/* auth_page__login_user__tabs */
.auth_page__login_user__tabs {
    width: 100%;
}

.auth_page__login_user__tabs__header {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.auth_page__login_user__tabs__header__item {
    display: table-cell;
    background: #E7E7E7;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #2F2F31;
}

.auth_page__login_user__tabs__header__item.active {
    background: #BFBFBF;
}

.auth_page__login_user__tabs__content {
    position: relative;
    height: 400px;
    overflow: auto;
    background: #F5F5F5;
}

.auth_page__login_user__tabs__content__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #F5F5F5;
}

.auth_page__login_user__tabs__content__item.active {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.auth_page__login_user__personal_data__table {
    padding: 50px;
    width: 100%;
}

.auth_page__login_user__personal_data__row {
    overflow: hidden;
}

.auth_page__login_user__personal_data__row:not(:last-child) {
    margin-bottom: 25px;
}

.auth_page__login_user__personal_data__key {
    color: #666;
    font-size: 20px;
    width: 100px;
    float: left;
    line-height: 1.3;
}

.auth_page__login_user__personal_data__val {
    margin-left: 100px;
    padding-left: 10px;
    color: #2F2F31;
    font-size: 20px;
    line-height: 1.3;
}

/* auth_page__login_user__projects_holder */
.auth_page__login_user__projects_holder {
}

.auth_page__login_user__projects_header {
    padding: 15px 50px;
    background: #F5F5F5;
    border-bottom: 1px solid #bfbfbf;
}

.auth_page__login_user__projects_header input {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 40px;
    min-width: 280px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
}

.auth_page__login_user__projects_header button {
    display: inline-block;
    vertical-align: middle;
    background: #FF9F00;
    font-size: 20px;
    height: 39px;
    color: #fff;
    padding: 0 15px;
    border-radius: 5px;
}

.auth_page__login_user__projects_content {

}

.auth_page__login_user__projects_content__item {
    background: #F5F5F5;
    padding: 15px 50px;
    overflow: hidden;
}

.auth_page__login_user__projects_content__item:not(:last-child) {
    border-bottom: 1px solid #bfbfbf;
}

.auth_page__login_user__projects_content__item .name {
    font-size: 20px;
    color: #2F2F31;
}

.auth_page__login_user__projects_content__item .name:hover {
    text-decoration: underline;
}

.auth_page__login_user__projects_content__item button {
    background: none;
    float: left;
}

.auth_page__login_user__projects_content__item:hover {
    background: #e8e8e8;
}

.auth_page__login_user__projects_content__item .date_change {
    float: right;
    font-size: 16px;
    color: #666;
    margin-top: 4px;
}

.auth_page__login_user__projects_content__item .project_remove_btn {
    float: right;
    font-size: 20px;
    color: #BFBFBF;
    margin-left: 20px;
    cursor: pointer;
}

.auth_page__login_user__projects_content__item .project_remove_btn:hover {
    color: red;
}

.project__user__error {
    margin-top: 5px;
    font-size: 14px;
    color: red;
}

@media (max-width: 900px) {

    .auth_page__login_user__tabs__header__item {
        font-size: 16px;
        height: auto;
        padding: 10px;
        line-height: 1.3;
    }

    .auth_page__login_user__left {
        width: 100%;
        float: none;
    }

    .auth_page__login_user__right {
        margin-left: 0;
        padding-left: 0;
        margin-top: 40px;
    }

}

.user_field_input {
    height: 40px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    background: #fff;
}
.change_pass_btn {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    background: #009ad4;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
}
.change_pass_btn:hover {
    background: #0082b0;
}
.hidden {
    display: none;
}
.save_btn {
    color: #fff;
    background: #ff9404;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.error_msg {
    color: #b40000;
}